<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="saboor.testexlist" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.Whitetransparent" >
        <activity
            android:name=".main"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".inside_channel"
            android:label="@string/title_activity_inside_channel"
            android:parentActivityName=".main"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="main" />
        </activity>
        <activity
            android:name=".explore_channels"
            android:label="@string/title_activity_explore_channels"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".vimeo_player_activity"
            android:label="vimeo_player_activity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".explore_category"
            android:label="@string/title_activity_explore_category" >
        </activity>
        <activity
            android:name=".favorites_activity"
            android:label="@string/title_activity_favorities_activity" >
        </activity>
    </application>

</manifest>
